*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  background-color:rgba(83, 77, 3, 0.537) ;
 
}

.hidden{
  display: none;
}

.container{
  width: 100%;
 margin: 0 auto;
 /* max-width: 100vh; */
 
 /* border: 2px solid darkgray; */
 overflow: hidden;
   
 }

h1{
  color: red;
  text-transform: uppercase;
  text-align: center;
  /* background: #999; */
  padding: 10px 0;
  /* margin: 10px 10px; */
}

.section-one{
  padding: 20px 0;
}

.image-flex{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
column-gap: 25px;
row-gap: 25px;
width:50%;
padding: 0 20px;

}

.image{
  width:100%;
  padding:10px 10px;
  position: relative;
 
}

#char1btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
  
  

}

#char2btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;

}

#char3btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}

#char4btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  left: 10%;
  text-transform: uppercase;
  cursor: pointer;
}

#char5btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;

}

#char6btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}

#char7btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}
#char8btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}

#char9btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}

#char10btn{
  border-radius: 12px;
  background-color: darkgray;
  color: black;
  border: 2px solid red;
  width: 150px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  left: 10%;
  cursor: pointer;
}



 @media only screen and (max-width: 480px){
  h1{
    text-align: center;
    padding: 0;
    font-size: 20px;
  }  
  .image-flex{
    display: block;
width: 10%;

align-items: center;
  }
  .image{
    width: 10%;
    padding:10px;
    position: relative;
    left: 90px;

  }
}

